.slides__swiper {
  width: 100%;
  flex: 1;

  > div { // swiper-wrapper
    scroll-behavior: auto;
    > div { // swiper-slide
      height: max-content;
    }
  }
}

.slides__pagination-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    white-space: nowrap;
  }

  > .slides__describe-box {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
    > span { 
      text-align: right;
      font-size: 12px;
      word-break: keep-all;
    }
  }
}

.slides__none-box {
  display: flex;
  justify-content: center;
  align-items: center;
}