.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  > .main__bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    > .main__bg {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position:right;
      -webkit-user-drag: none;
    }
  }

  > .main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  > .main__menu {
    position: relative;
  }
}