@use '@/styles/breakpoints' as breakpoint;

.more {
  position: relative;
  display: flex;
  justify-content: center;

  &.hide {display: none;}

  > .more__button {
    display: flex;
    width: 3.5rem;
  }

  > .menu-open {
    transform: rotate(180deg);
  }
}

@media (min-width: breakpoint.$tablet) {
  .more > .more__button {
    width: 86px;
  }
}

@media (max-height: breakpoint.$max-height-730) or
((min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-920)) {
  .more {
    > .more__button {
      pointer-events: auto;
    }
  }
}