@use '@/styles/breakpoints' as breakpoint;

.stats {
  position: relative;
  display: flex;
  
  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  > .stats__content {
    position: absolute;
    top: 0;
    left: 141px;
    width: 157px;
    height: 159px;
    padding-top: 2.5rem;

    > .stats__inner {
      > .stats__level-job {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        > .stats__level {
          > span {
            font-family: "maplestory-bold";
            font-size: 1.5rem;
          }
        }

        > .stats__job {
          color: var(--color-text-dark);
          font-family: "maplestory-bold";
        }
      }

      > .stats__exp-email {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}

@media (min-width: breakpoint.$tablet) {
  .stats {
    > .stats__content {
      left: 181px;
      width: 201px;
      height: 204px;
      padding-top: 3.45rem;

      > .stats__inner {
        > .stats__level-job {
          > .stats__level {
            font-size: 1.5rem;

            > span {font-size: 2rem;}
          }

          > .stats__job {font-size: 22px;}
        }
      }
    }
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-950) {
  .stats {
    pointer-events: auto;
  }
}