.stats {
  position: relative;

  > .stats__content {
    position: absolute;
    top: 0;
    left: 141px;
    width: 157px;
    height: 159px;
    padding-top: 2.5rem;

    > .stats__inner {
      > .stats__level-job {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        > .stats__level {
          > span {
            font-family: "maplestory-bold";
            font-size: 1.5rem;
          }
        }

        > .stats__job {
          color: var(--color-text-dark);
          font-family: "maplestory-bold";
        }
      }

      > .stats__exp-email {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

}