@use '@/styles/breakpoints' as breakpoint;

.wrap {
  padding: var(--page-padding);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .wrap__main {
    height: 100%;
    padding: var(--section-padding);
    overflow: hidden;
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    > .wrap__main {
      padding-block: 0;
    }
  }
}