@use '@/styles/breakpoints' as breakpoint;

.wrap {
  padding: var(--page-padding);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;

  > .wrap__main {
    height: 100%;
    padding-block: var(--section-padding);
    overflow: hidden;
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    > .wrap__main {
      padding-block: 0;
      padding-inline: var(--section-padding);
    }
  }
}

@media (max-height: breakpoint.$max-height-730) {
  .wrap {
    height: auto;

    > .wrap__main {
      overflow: visible;
      margin-top: 3.5rem;
    }
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-950) {
  .wrap {
    height: auto;

    > .wrap__main {
      overflow: visible;
      margin-top: 220px;
    }
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-440) {
  .wrap {
    > .wrap__main {
      margin-top: 0;

      &.hide {margin-top: 0;}
    }
  }
}