@use '@/styles/breakpoints' as breakpoint;

.content__wrap {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  opacity: 0;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cacaca23;
    border-radius: 50px;
  }
}

@media (min-width: breakpoint.$tablet) {
  .content__wrap {
    display: flex;
  }
}

@media (max-height: breakpoint.$max-height-730) or
((min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-950)) {
  .content__wrap {
    overflow: visible;
  }
}