@use '@/styles/breakpoints' as breakpoint;

.header {
  padding: var(--header-padding);
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;

  &.hidden {display: none;}

  &.hide {
    justify-content: right;
    
    > .header__info > div {
      display: none;
    }
  }

  > .header__info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

@media (max-width: breakpoint.$desktop) {
  .header > .header__info {
    flex-direction: column;

    > div {
      flex-direction: column;
    }
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-920) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    padding-bottom: 0;
    width: 100%;
    z-index: 4;
    pointer-events: none;
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-440) {
  .header {
    position: static;
    padding: 1rem;
    padding-bottom: 0;
  }
}