@use '@/styles/breakpoints' as breakpoint;

.button {
  width: 50px;
  height: auto;
  display: flex;

  &.disabled {opacity: 50%;}
}

@media (min-width: breakpoint.$tablet) {
  .button {width: 80px;}
}

@media (min-width: breakpoint.$desktop) {
  .button {width: 5rem;}
}

@media (min-width: 1100px) {
  .button {width: 6.25rem;}
}