@use '@/styles/breakpoints' as breakpoint;

.button {
  width: 50px;
  height: auto;
  display: flex;
}

@media (min-width: breakpoint.$tablet) {
  .button {width: 80px;}
}

@media (min-width: breakpoint.$desktop) {
  .button {width: 6.25rem;}
}