@use '@/styles/breakpoints' as breakpoint;

.arrow-key {
  display: flex;
  gap: 1.5rem;

  &.hide {display: none;}
}

@media (max-height: breakpoint.$max-height-730) or
((min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-950)) {
  .arrow-key {
    pointer-events: auto;
  }
}