@use '@/styles/breakpoints' as breakpoint;

.header {
  position: relative;
  display: flex;
  justify-content: right;
  min-width: 200px;

  &.hidden {display: none;}

  &.hide {
    min-height: 3.5rem;

    > .header__menu-btn {
      display: none;
    }
  }

  > .header__menu-btn {
    display: flex;
  }
}

@media (max-height: breakpoint.$max-height-730) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: var(--header-padding);
    flex-direction:column;
    overflow: visible;
    pointer-events: none;

    &.hide {
      padding-bottom: 0;
      height: 3.5rem;
      min-height: 3.5rem;
    }

    &.menu-open {
      background: var(--color-background);
      pointer-events: auto;
    }

    > .header__menu-btn {
      position: relative;
      margin-left: auto;
      z-index: 6;
      pointer-events: auto;
    }
  }
}