@use '@/styles/breakpoints' as breakpoint;

.navigation {
  position: absolute;
  bottom: 100%;
  margin-bottom: 1.5rem;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
  z-index: 3;

  &.hide {
    display: none;
  }
}

.open {
  display: flex;
}

@media (min-width: breakpoint.$desktop) {
  .navigation {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-bottom: 0;
    z-index: 0;
  }
}