@use '@/styles/breakpoints' as breakpoint;

.resource {
  position: relative;
  display: flex;
  
  > .resource__box {
    position: absolute;
    top: 7px;
    right: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-medium);
    user-select: none;

    > .resource__link {
      display: flex;
    }
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-950) {
  .resource {
    pointer-events: auto;
  }
}