@use '@/styles/breakpoints' as breakpoint;

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}

@media (min-width: breakpoint.$tablet) {
  .section {
    gap: 1rem;
  }
}