@use '@/styles/breakpoints' as breakpoint;

.menu__wrap {
  position: absolute;
  z-index: 2;
  width: 98%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: breakpoint.$tablet) {
  .menu__wrap {
    position: static;
    transform: none;
    width: max-content;
    height: 3rem;

    > ul {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
    }
  }
}