@use '@/styles/breakpoints' as breakpoint;

.arrow {
  display: flex;
  width: 3.5rem;

  &.disabled {opacity: 50%;}
}

.prev {transform: scaleX(-1);}

@media (min-width: breakpoint.$tablet) {
  .arrow {
    width: 86px;
  }
}