@use '@/styles/breakpoints' as breakpoint;

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;

  > .button__text-box {
    position: absolute;

    > .button__text {
      font-size: var(--font-size-large);
      color: var(--color-text-light);
    }
  }
}

@media (min-width: breakpoint.$tablet) {
  .button {
    width: clamp(200px, 26vw, 300px);
    height: clamp(70px, 9.1vw, 106px);

    > .button__text-box > .button__text {
      font-size: clamp(var(--font-size-large), 4.2vw, 2.5rem);
    }
  }
}