@use '@/styles/breakpoints' as breakpoint;

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  &.hide {display: none;}
}

@media (min-width: breakpoint.$tablet) {
  .footer {
    padding: var(--footer-padding);
  }
}