@use '@/styles/breakpoints' as breakpoint;

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  &.hide {display: none;}
}

@media (min-width: breakpoint.$tablet) {
  .footer {
    padding: var(--footer-padding);
  }
}

@media (max-height: breakpoint.$max-height-730) {
  .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: var(--footer-padding);
    z-index: 4;
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-950) {
  .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2rem;
    z-index: 4;
  }
}

@media (min-width: breakpoint.$tablet) and (max-height: breakpoint.$max-height-440) {
  .footer {
    position: static;
    padding: 0;
  }
}