@use '@/styles/breakpoints' as breakpoint;

.menu {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100dvh - (56px + var(--page-padding)));
  padding: 1rem;
  background-color: var(--color-background);
  display: none;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 2rem;
  z-index: 5;
  min-width: 350px;

  > .menu__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.menu-open {
  display: flex;
}

@media (max-height: breakpoint.$max-height-730) {
  .menu {
    position: relative;
    top: 0;
  }
}