.menu {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100dvh - (56px + var(--page-padding)));
  padding: 1rem;
  background-color: var(--color-background);
  display: none;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 2rem;
  z-index: 1;

  > .menu__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.menu-open {
  display: flex;
}