@use '@/styles/breakpoints' as breakpoint;

.card__wrap {
  position: relative;
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  height: 357px;
  display: flex;

  > .card__bg {
    position: absolute;
    object-fit: cover;
  }

  > .card__screen {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 40%);
  }

  > .card__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    > .card__title-box {
      padding: 0.5rem;
      border: 2px solid #fff;
      border-radius: 6px;

      > .card__title {
        font-size: var(--font-size-medium);
        font-family: "maplestory-bold";
      }
    }

    > .card__content-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      gap: 1rem;

      > .card__content-inner {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > .card__describe-box {
          margin-bottom: 1rem;
  
          > .card__describe {
            display: -webkit-box;
            font-size: 18px;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
          }
        }
  
        > .card__skills-box {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
  
          > li {
            padding: 0.5rem;
            height: 1.75rem;
            border: 2px solid #000;
            border-radius: 9999px;
            display: inline-flex;
            align-items: center;
            background: #fff;
            
            > p {
              color: var(--color-text-dark);
              font-family: "maplestory-bold";
              font-size: var(--font-size-basic);
            }
          }
        }
  
        > .card__tags-box {
          display: flex;
          flex-wrap: wrap;
          column-gap: 10px;
          row-gap: 5px;
        }
      }

      > .card__links-box {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
    }
  }
}

@media (max-width: 350px) {
  .card__wrap {
    > .card__inner {
      > .card__title-box {
        > .card__title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      > .card__content-box {
        > .card__content-inner {
          > .card__skills-box,
          > .card__tags-box {
            overflow-x: auto;
            flex-wrap: nowrap;
            padding-bottom: 0.3rem;

            &::-webkit-scrollbar {
              height: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background: #d8d8d8;
              border-radius: 50px;
            }
          }

          > .card__tags-box {
            white-space: nowrap;
          }
        }
      }
    }
  }
}